@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Background.png") no-repeat center center fixed;
  background-size: cover;
  color: var(--foreground);
  min-height: 100vh;
  margin: 0;
}

input::placeholder {
  color: #8d8d8d;
  opacity: 1;
}

/* Custom font utilities */
.font-geist-sans {
  font-family: var(--font-geist-sans);
}

.font-geist-mono {
  font-family: var(--font-geist-mono);
}